.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-header nav ul {
  list-style-type: none;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin: 0 10px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}